.restaurant_obj
	.restaurant
		.hd
			.number=@j+=1
			= link_to network.name.capitalize_first_letter, network_path(network.id), :class => 'show'			
		= link_to (image_tag image_url(network), :class => 'thumb'), network_path(network.id), :class => 'show'
		- dishes = network.dishes
		.infoblock	
			- if !dishes.blank?
				.dishes
					- dishes.order('rating DESC, votes DESC, photo DESC').take(5).each do |dish|						
						- if dish.photo.blank? && dish.reviews.first
							= link_to (image_tag dish.reviews.order('count_likes DESC').first.photo.thumb.url), dish_path(dish.id), :class => 'show'
						- else
							= link_to (image_tag dish.photo.thumb.url), dish_path(dish.id), :class => 'show'						
				.text
					Лучшие блюда: 	
					- dishes.shuffle.take(3).each do |dish|
						= link_to truncate(dish.name, :length => 30), dish_path(dish.id), :class => 'show'
						,
			- else
				.no_info
					Информация отсутствует
		.rate
			- rate = network.votes.to_i != 0 ? (network.rating/network.votes).to_i : 0				
			- if rate
				- rate.times do
					= image_tag 'star_filled.png', :class => 'star'
				- (5-rate).times do
					= image_tag 'star_empty.png', :class => 'star'
			- else
				- 5.times do
					= image_tag 'star_empty.png', :class => 'star'
			.mark
				= network.votes.to_i != 0 ? "%.1f" % (network.rating/network.votes.to_f) : 0
			.voices
				(#{network.votes} голосов)