/ = render '/shared/tags'
%h2
	= "Лучшие рестораны в категории: #{@search.blank? ? 'Все' : @search}"
= render '/shared/filters'
#restaurants
	= render @networks
%script
	= "var markers = #{@markers};"