<ul class="sb">
	<% unless @share_data[:pinit][:media].blank? %>
		<li>
			<!-- Pinterest -->
			<div style="margin-right:2px">
				<a href="http://pinterest.com/pin/create/button/?url=<%=@share_data[:pinit][:url]%>&media=<%=@share_data[:pinit][:media]%>&description=<%=@share_data[:pinit][:description]%>" class="pin-it-button" count-layout="vertical" style="margin-right:5px"><img border="0" src="//assets.pinterest.com/images/PinExt.png" title="Pin It" /></a>
			</div>
		</li>
		<li>
	<% end %>
		<!-- Facebook -->
		<div class="fb-like" data-href="<%=@share_data[:facebook][:url]%>" data-send="false" data-layout="box_count" data-width="50" data-show-faces="true"></div>
	</li>
	<li>
		<!-- Twitter -->
		<div style="margin-right:7px">
			<a href="https://twitter.com/share" class="twitter-share-button" data-text="<%=@share_data[:twitter][:description]%>" data-count="none">Tweet</a>
			<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
		</div>
	</li>
</ul>