-content_for :title, "Dish.FM"
-content_for :keywords, "Dishfm, menu, recommendation, San Francisco, bay area, local, business, review, friend, restaurant, share, read, community, steak, burger, sushi, pizza, dish, New York, Los Angeles, dinner, lunch, breakfast, dim sum, cook, gourmet, taste, chef, brunch, wine, food, guide, personal, photo, place, finder, rating, delivery, takeout, meal, eat, foodie, yummy, coffee, tiramisu, bar, drink, check-in, expert, top, Italian, Japanese, Chinese, American, SF, NY, NYC"
-content_for :description, "Dish.fm is the easiest way to find the best dishes at any restaurant. It’s your personal guide to local favorites with menu listings, user photos, friend’s recommendations and ratings of each meal"
#lp
	#controls
		%ul
			/%li=# link_to 'Sign in', ''
	= link_to (image_tag 'logo.png'), '', :id => 'logo'
	#slider
		%a#iphone{:href => 'http://itunes.apple.com/app/id530449856'}
			- num_pages = 4
			- num_pages.times do |i|
				= image_tag "screen#{i+1}.jpg", :class => "iscreen #{'active' if i == 0 }"
		%ul.text
			%li.active
				%h2 Order only signature dishes in any restaurant
				In one quick glance, learn what is the best dish, drink or dessert to order.  Read reviews, see photos, and get an overall rating.
			%li
				%h2 Quickly see friends’ recommendations
				Keep up with whatever your friends just tried or cooked. Follow friends from Facebook and Twitter, chefs or anyone else with good taste.
			%li
				%h2 Share your opinion
				Share your personal recommendations with friends and other food enthusiasts. Add photo filters, tag friends, and share your latest conquests on Facebook, Twitter and Pinterest.
			%li
				%h2 Discover great places
				Dish.fm analyses the rating of dishes, check-ins, your tastes and your friends’ recommendations to find a place just for you.					
		#pages
			%ul
				- num_pages.times do |i|
					%li{:class => ("active" if i == 0)}
		.hr
		%ul
			%li.store
				= link_to (image_tag 'app_store.png'), 'http://itunes.apple.com/app/id530449856'
			%li
				= link_to (image_tag 'android_market.png'), 'http://signup.dish.fm/'
			%li
				= render "shared/social_links"
				/%li.clear#nw
				=# link_to (image_tag 'fb.png'), ''
				/%li
				=# link_to (image_tag 'tw.png'), ''
	= image_tag 'berries.png', :id => 'berries'