- i = 0
- @dishes.each do |dish|
	.dish
		.hd
			.number=i+=1
			= link_to '"' + truncate(dish.name, :length => 8) + '"', dish_path(dish.id), :class => 'show'
			@
			- if dish.network
				= link_to truncate(dish.network.name.capitalize_first_letter, :length => 10), network_path(dish.network.id), :class => 'show'
			- else
				= link_to truncate(dish.restourant.name.capitalize_first_letter, :length => 10), restaurant_path(dish.restourant.id), :class => 'show'
		= link_to (image_tag dish.photo_url), dish_path(dish.id), :class => 'show'
		.rate
			- rate = dish.votes.to_i != 0 ? (dish.rating/dish.votes).to_i : 0
			%select.stars
				- 10.times do |i|
					%option{ :value => i, :selected => (rate != 0 && rate == i ? "selected" : nil)}
						=i
			.mark
				= dish.votes.to_i != 0 ? "%.1f" % (dish.rating/dish.votes.to_f) : 0
			.voices
				"(#{dish.votes} голосов)"
		.clear
