/ = render '/shared/tags'
%h2
	= "Лучшие блюда в категории: #{@search.blank? ? 'Все' : @search}"
= render '/shared/filters'
#dishes
	= render @dishes
%script
	delete window.markers; 
	= "var markers = #{@markers};"