-unless @dish.nil?
	=render '/shared/share_links'
	#popup
		.side_div#dish_div
			.hd2
				= "#{@dish.name}"
				.price
					= "#{@dish.price} #{@dish.currency || '$'}"
			.desc
				= "#{@dish.description}"
			.sp
			.rating
				Rating
			.rate
				- if @dish.rating != 0
					- @dish.rating.round.times do
						= image_tag 'star_filled.png', :class => 'star'
					- (5 - @dish.rating).to_i.times do
						= image_tag 'star_empty.png', :class => 'star'
				- else
					- 5.times do
						= image_tag 'star_empty.png', :class => 'star'
				.mark
					= @dish.votes.to_i != 0 ? @dish.rating.round(1) : 0
				.voices
					(#{@dish.votes} голосов)
			.sp
			.hd3
				@
				=link_to @dish.network.name, restaurant_path(@dish.network.restaurants.first.id)
			#rest_desc
				= [@r_categories, 
					"#{@restaurant.rating.round(1)}(#{@restaurant.votes}votes)", 
					"#{@restaurant.fsq_checkins_count} checkins",
					@bill].reject(&:empty?).join(', ')
			#map_canvas_popup
			%script
				= "load_map(#{@markers})"
			.addr_phone
				= "#{@restaurant.city}, #{@restaurant.address}"
		.center_div#dish_center
			#review_content
				= render 'popup/review'