= link_to image_tag('/assets/users/231/3242334523454r342t646y5.jpg'), dish_path('1')
= link_to 'Natasha Larsen-Ashlin', dish_path('1')
.text
	30 mins is a bit ambitious but it is worth a try :)
.hr
= link_to image_tag('/assets/users/231/3242334523454r342t646y5.jpg'), dish_path('1')
= link_to 'Natasha Larsen-Ashlin', dish_path('1')
.text
	30 mins is a bit ambitious but it is worth a try :)
.hr
= link_to image_tag('/assets/users/231/3242334523454r342t646y5.jpg'), dish_path('1')
= link_to 'Natasha Larsen-Ashlin', dish_path('1')
.text
	30 mins is a bit ambitious but it is worth a try :)