!!!
%html
	%head
		%title= yield(:title) || "Dish.FM -"
		%meta{:name => "keywords", :content => "#{h yield(:keywords)}"}
		%meta{:name => "description", :content => "#{h yield(:description)}"}
		%meta{"http-equiv"=>"Content-Type", :content=>"text/html; charset=utf-8"}
		= stylesheet_link_tag :all
		= javascript_include_tag :defaults
		= csrf_meta_tag
		= favicon_link_tag
	%body
		= render "shared/social_scripts"
		#container
			#wrapper
				= yield
		#footer
			/ #top_search
			/ 	%h2 Top searches
			/ 	%ul
			/ 		%li=raw"#{link_to 'tiramisu', ''} @ #{link_to 'New York', ''}"
			/ 		%li=raw"#{link_to 'steak', ''} @ #{link_to 'San Francisco', ''}"
			/ 		%li=raw"#{link_to 'something', ''} @ #{link_to 'somwhere', ''}"
			#links
				%ul
					%li=link_to 'About', '/about'
					%li=link_to 'Facebook', 'http://www.facebook.com/dish.fm'
					%li=link_to 'Twitter', 'http://twitter.com/dishfm'
					%li=link_to 'Terms', '/about/terms'
					%li=link_to 'Privacy', '/about/privacy'
			#cright
				Dish.Fm 2012 ©
				
			